name: Issue Updater

on:
  issues:
    types:
      - labeled

jobs:
  auto-subscribe:
    runs-on: ubuntu-latest
    steps:
    - name: Update watchers
      uses: actions/github-script@v5
      with:
        script: |
            const teamname = "@llvm/issue-subscribers-" + context.payload.label.name.replace(/ /g, "-")
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: teamname
            })
      
#token: ${{ secrets.ISSUE_MENTION_SECRET }}
